body {
  margin: 0;
  font-family: Arial;
  height: 100%;
/*  background-color: #6699ff;*/
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

li {
  padding-bottom: 20px; 
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #6699ff;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #4d4dff;
/*  color: #6699ff;*/
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #d9d9d9;
  display: none;
  overflow: hidden;
}

.content {  
  padding: 0px 100px 50px 100px;

}

