body {
	border: 0px solid;
    padding: 0;
    margin: auto;
  }
div {
    padding: 0;
    margin: 0;
    border: 0px solid;
    position: relative;
    vertical-align: top;   /* This is the fix */
  }
.button
{
	width : 250px;
	height : 50px;
	background-color : #87CEFA;
	color : white;
	padding : 14px 20px;
	text-align : center;
	font-size : 16px;
	border : none;
	display : inline-block;
	margin : 8px 0px;
	cursor : pointer;
	margin-top:-5px;
	border-radius : 15px;
	opacity : 0.9;
}

h1
{
	color : #6495ED;
	font-size : 80px;
	font-family : Brush Script MT;
}

/*header*/
.banner img{
	width:100%;
}

.navibar {
  overflow: hidden;
  background-color: #5E8DBB;
  padding: 5px 10px;
}
.navibar a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 22px;
  border-radius: 3px;
}
.navibar a:hover {
  background-color: #ffffff;
  color: #6699ff;
}

.navibar a.active {
  background-color: #ffffff;
  color: #6699ff;
}
/*End navibar*/

/*Wrapper*/
.wrapper{
	width:100%;
	font-size:14px;
	background-color:#71A7DB;
	color:#1B4975;
    display: inline-block;
	float: left;
	padding:10px 2;
	text-align-last: left;
}
.wrapper a{
	color:#1B4975;
	text-decoration:none;
}

/*End Wrapper*/

/*header*/
.top_header{
}

.top_header img{
  height: 100px;
  width: 200px;
}

.banner img{
  width: 100%;
}
/*end header*/


/*footer*/

.container{
        width: 100%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
.row-container{
	 content: "";
     display: table;
     clear: both;
}
.colm-container{
    float: left;
    width: 33.33%;
	 padding: 10px;
}
.site-footer
{
  background-color:#5E8DBB;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.text-justify
{
	color:#C5C8E3;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/*End Footer*/